.counter{
    position: relative;
    width: 55px;
    height: 22px;
    background-color: rgba(187, 187, 187, 0.7);
    border-radius: 16px;
    cursor: pointer;
}
.counter__window{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 20px;
    z-index: 1;
    background-color: white;
}