.wrapper{
    margin-bottom: 70px;
}

.wrapper > h1:first-child {
    padding-top: 20px;
    padding-left: 15px;
}


#total__price{
    /* border: 2px solid red; */
    padding-top: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}
.button__wrapper{
    display: flex;
    justify-content: center;
}

button.basket__button{
    justify-content: centrer;
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #34C759;
    padding: 3px 7px 3px 7px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    align-self: flex-end;
}
button.basket__button:focus{
    background-color: #29a047;
}

h2.out__offer{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}