.super__main{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.main{
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;

}
.main > div:last-of-type {

}

.sel > h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.sel{
    align-self: center;
    margin-top: 10px;
    width: 80vw;
}

.menu{
    border: 1px solid lightgray;
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    bottom: 0;
    width: 100vw;
    height: 60px;
}
.menu img{
    cursor: pointer;
    margin-top: 5px;
    width: 70px;
    height: 40px;
}