@import './fonts.css';

*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa-Regular';
}

h1{
    font-family: 'Comfortaa-Regular';
    font-size: 36px;
}
h2{
    font-family: 'Comfortaa-Regular';
    font-size: 24px;
}

h4{
    font-family: 'Comfortaa-Regular';
    font-size: 18px;
}

p h3 h5 h6 {
    font-family: 'Comfortaa-Regular';
}
input{
    font-family: 'Comfortaa-Regular';
}


.active{
    filter:blur(5px);
}