.contain__item{
    position: relative;
    padding-top: 60px;
    padding-bottom: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.contain__item h1{
    position: absolute;
    margin-left: 20px;
    border-radius: 5px;
    transform: translateY(-100%);
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 5;
}
.line__top{
    border-top: 1px solid grey;
    position: absolute;
    width: 100%;
    transform: translateY(-20px);
    z-index: 1;
}

.wrapper__item {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.img__wrapper {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    overflow: hidden;
    box-shadow: 0px 5px 23px 5px rgba(107, 2, 155, 0.25);
}

.img__wrapper img {
    cursor: pointer;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
    
}

.data__wrapper {
    /* border: 2px solid red; */
    position: relative;
    width: 50%;
}

.data__wrapper h2 {
    width: fit-content;
    margin-left: auto;
}
.data__wrapper h4 {
    /* width: fit-content; */
    font-size: 12px;
}

.taste {
    padding: 5px 10px;
    width: fit-content;
    background-color: rgba(255, 45, 85, 1);
    color: white;
    margin-left: auto;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.counter__wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

.counter__wrapper h2{
    font-size: 120%;
}

.offer__price{
    margin-top: 10px;
}

.price {
    /* border: 2px solid green; */
    margin-left: auto;
    align-items: center;
    margin-top: 16px;
}

.date {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 15px;
    width: fit-content;
    margin-left: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}