.wrapper__item{
    /* border: 2px solid green; */
    margin: 10px 20px;
    
    display: flex;
    justify-content: space-between;
}

.img__wrapper {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    overflow: hidden;
}

.img__wrapper img {
    cursor: pointer;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}

.data__wrapper{
    border: 2px solid black;
}

.taste{
    padding: 5px 10px;
    width: fit-content;
    background-color: rgba(255, 45, 85, 1);
    color: white;
    margin-left: auto;
    border-radius: 5px;
}

.counter{
    position: relative;
    width: 55px;
    height: 22px;
    background-color: rgba(187, 187, 187, 0.7);
    border-radius: 16px;
    cursor: pointer;
}
.counter__window{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 20px;
    z-index: 1;
    background-color: white;
}