.main {
    display: flex;
    margin-top: 5px;
    width: 107px;
    height: 107px;
    border-radius: 20px;
    overflow: hidden;
}

.main img {
    cursor: pointer;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}


button {
    background-color: #34C759;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self: flex-end;
}