.card__wrap {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.card__wrap.active {
    visibility: visible;
    backdrop-filter: blur(5px);
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}

.modal {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 70vh;
    max-width: 350px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

.modal img {
    height: 50%;
    border-radius: 20px;
}

.content__wrap {
    /* border: 2px solid grey; */
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 15px;
}

.footer_wrapper{
    /* border: 2px solid green; */
    justify-content: space-between;
    display: flex;
}

.content__wrap h2:nth-last-child(2) {
    align-self: flex-end;
}

.content__wrap p {
    align-self: flex-end;
    margin-left: 10px;
}

.option__wrapper{
    /* border: 2px solid goldenrod; */
    display: flex;
    width: 60%;
    flex-direction: column;
}
.select__wrap {
    width: 100%;
}


.calendar {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    width: 100%;
}

.calendar input {
    /* border: 2px solid green; */
    padding: 0;
    width: 100%;
    height: 25px;
}

button.card__button{
    /* border: 2px solid red; */
    background-color: #34C759;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 3px 7px 3px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    align-self: flex-end;
}

button.card__button:focus{
    background-color: #29a047;
}

form {
    padding: 0;
    margin: 0;
}



