.wrapper__video{
    display: flex;
    position: relative;
    /* width: 100vw; */
    /* margin-top: 1vh; */
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 10px;
}
.video__opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 3;
}
.video__container{
    /* border: 1px solid black; */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}
.video__media{
    height: 100%;
    z-index: 1;
}